.s1 {
    display: grid;
  }
  
img {
display: block;
margin: 1rem auto 1rem auto;
width: 150px;
}

.country-title {
    text-align: center;
    margin: 1rem;
    color: white;
}

.datestamp {
    text-align: center;
    color: darken($color: #2F4858, $amount: 15);
}
  
.ssTitle {
display: grid;
}
  
@media (min-width: 720px) {
    .container {
        grid-template-columns: repeat(3, 1fr);
    }

    .s1 {
        display: grid;
    }
}