<div class="container s1">
    <div class="first-box b1">
        <p class="stat-number">Country<span class="material-icons b1">swap_vert</span></p>
    </div>
    <div class="stat-box b1">
        <p class="stat-number" (click)="testing('todayCases')">Today Cases<span class="material-icons b1">swap_vert</span></p>
    </div>
    <div class="stat-box b2">
        <p class="stat-number" (click)="testing('todayRecovered')">Today Recovered<span class="material-icons b2">swap_vert</span></p>
    </div>
    <div class="stat-box b3">
        <p class="stat-number" (click)="testing('todayDeaths')">Today Deaths<span class="material-icons b3">swap_vert</span></p>
    </div>
    <div class="stat-box b1">
        <p class="stat-number" (click)="testing('active')">Active Cases<span class="material-icons b1">swap_vert</span></p>
    </div>
    <div class="stat-box b4">
        <p class="stat-number" (click)="testing('critical')">Critical<span class="material-icons b4">swap_vert</span></p>
    </div>
    <div class="stat-box b1">
        <p class="stat-number" (click)="testing('cases')">Total Cases<span class="material-icons b1">swap_vert</span></p>
    </div>
    <div class="stat-box b2">
        <p class="stat-number" (click)="testing('recovered')">Total Recovered<span class="material-icons b2">swap_vert</span></p>
    </div>
    <div class="stat-box b3">
        <p class="stat-number" (click)="testing('deaths')">Total Deaths<span class="material-icons b3">swap_vert</span></p>
    </div>
</div>

<div *ngFor="let country of countries">
    <section class="container s2" routerLink="/">
        <div class="first-box b1">
            <p class="stat-number">{{country.country}}</p>
        </div>
        <div class="stat-box b1">
            <p class="stat-number"><span class="ssTitle">Today Cases</span> {{country.todayCases | number}}</p>
        </div>
        <div class="stat-box b2">
            <p class="stat-number"><span class="ssTitle">Today Recovered</span> {{country.todayRecovered | number}}</p>
        </div>
        <div class="stat-box b3">
            <p class="stat-number"><span class="ssTitle">Today Deaths</span> {{country.todayDeaths | number}}</p>
        </div>
        <div class="stat-box b1">
            <p class="stat-number"><span class="ssTitle">Active Cases</span> {{country.active | number}}</p>
        </div>
        <div class="stat-box b4">
            <p class="stat-number"><span class="ssTitle">Critical</span> {{country.critical | number}}</p>
        </div>
        <div class="stat-box b1">
            <p class="stat-number"><span class="ssTitle">Total Cases</span> {{country.cases | number}}</p>
        </div>
        <div class="stat-box b2">
            <p class="stat-number"><span class="ssTitle">Today Recovered</span> {{country.recovered | number}}</p>
        </div>
        <div class="stat-box b3">
            <p class="stat-number"><span class="ssTitle">Today Deaths</span> {{country.deaths | number}}</p>
        </div>
    </section>
</div>

