<!-- <ng-container *ngIf="globalStats; else elseTemplate"> -->
    <!-- <p>Updated as: {{globalStats.updated | date: 'medium'}}</p> -->
    <h1>Today</h1>
    <section class="container s1">
        <div class="stat-box b1">
            <p class="stat-number">{{globalStats.todayCases | number}}</p>
            <p class="stat-name">new cases</p>
        </div>
        <div class="stat-box b2">
            <p class="stat-number">{{globalStats.todayDeaths | number}}</p>
            <p class="stat-name">new deaths</p>
        </div>
        <div class="stat-box b3">
            <p class="stat-number">{{globalStats.todayRecovered | number}}</p>
            <p class="stat-name">new recovered</p>
        </div>
    </section>

    <h1>Total</h1>
    <section class="container s2">
        <div class="stat-box b1">
            <p class="stat-number">{{globalStats.cases | number}}</p>
            <p class="stat-name">cases</p>        
        </div>
        <div class="stat-box b2">
            <p class="stat-number">{{globalStats.deaths | number}}</p>
            <p class="stat-name">deaths</p>
        </div>
        <div class="stat-box b3">
            <p class="stat-number">{{globalStats.recovered | number}}</p>
            <p class="stat-name">recovered</p>
        </div>
    </section>
<!-- </ng-container> -->

<!-- <ng-template #elseTemplate>
    <h1>loading...</h1>    
</ng-template> -->

