<ng-container *ngIf="globalStats; else elseTemplate">
    <section class="container s1">
        <div class="stat-box b1">
            <p class="stat-number">Today Cases</p>
        </div>
        <div class="stat-box b2">
            <p class="stat-number">Today Recovered</p>
        </div>
        <div class="stat-box b3">
            <p class="stat-number">Today Deaths</p>
        </div>
        <div class="stat-box b1">
            <p class="stat-number">Active Cases</p>
        </div>
        <div class="stat-box b4">
            <p class="stat-number">Critical</p>
        </div>
        <div class="stat-box b1">
            <p class="stat-number">Total Cases</p>
        </div>
        <div class="stat-box b2">
            <p class="stat-number">Total Recovered</p>
        </div>
        <div class="stat-box b3">
            <p class="stat-number">Total Deaths</p>
        </div>
    </section>

    <section class="container s2">
        <div class="stat-box b1">
            <p class="stat-number"><span class="ssTitle">Today Cases</span> {{globalStats.todayCases | number}}</p>
        </div>
        <div class="stat-box b2">
            <p class="stat-number"><span class="ssTitle">Today Recovered</span> {{globalStats.todayRecovered | number}}</p>
        </div>
        <div class="stat-box b3">
            <p class="stat-number"><span class="ssTitle">Today Deaths</span> {{globalStats.todayDeaths | number}}</p>
        </div>
        <div class="stat-box b1">
            <p class="stat-number"><span class="ssTitle">Active Cases</span> {{globalStats.active | number}}</p>
        </div>
        <div class="stat-box b4">
            <p class="stat-number"><span class="ssTitle">Critical</span> {{globalStats.critical | number}}</p>
        </div>
        <div class="stat-box b1">
            <p class="stat-number"><span class="ssTitle">Total Cases</span> {{globalStats.cases | number}}</p>
        </div>
        <div class="stat-box b2">
            <p class="stat-number"><span class="ssTitle">Total Recovered</span> {{globalStats.recovered | number}}</p>
        </div>
        <div class="stat-box b3">
            <p class="stat-number"><span class="ssTitle">Total Deaths</span> {{globalStats.deaths | number}}</p>
        </div>
    </section>
</ng-container>

<ng-template #elseTemplate>
    <h1>loading...</h1>    
</ng-template>

<app-search></app-search>

<div *ngIf="searchResults">
<div class="container container-search s1">
    <div class="first-box b1">
        <p class="stat-number">Country</p>
    </div>
    <div class="stat-box b1">
        <p class="stat-number">Today Cases</p>
    </div>
    <div class="stat-box b2">
        <p class="stat-number">Today Recovered</p>
    </div>
    <div class="stat-box b3">
        <p class="stat-number">Today Deaths</p>
    </div>
    <div class="stat-box b1">
        <p class="stat-number">Active Cases</p>
    </div>
    <div class="stat-box b4">
        <p class="stat-number">Critical</p>
    </div>
    <div class="stat-box b1">
        <p class="stat-number">Total Cases</p>
    </div>
    <div class="stat-box b2">
        <p class="stat-number">Total Recovered</p>
    </div>
    <div class="stat-box b3">
        <p class="stat-number">Total Deaths</p>
    </div>
</div>

<div *ngFor="let country of searchResults">
    <section class="container container-search s2" routerLink="/country/{{country.country}}">
        <div class="first-box b1">
            <p class="stat-number">{{country.country}}</p>
        </div>
        <div class="stat-box b1">
            <p class="stat-number"><span class="ssTitle">Today Cases</span> {{country.todayCases | number}}</p>
        </div>
        <div class="stat-box b2">
            <p class="stat-number"><span class="ssTitle">Today Recovered</span> {{country.todayRecovered | number}}</p>
        </div>
        <div class="stat-box b3">
            <p class="stat-number"><span class="ssTitle">Today Deaths</span> {{country.todayDeaths | number}}</p>
        </div>
        <div class="stat-box b1">
            <p class="stat-number"><span class="ssTitle">Active Cases</span> {{country.active | number}}</p>
        </div>
        <div class="stat-box b4">
            <p class="stat-number"><span class="ssTitle">Critical</span> {{country.critical | number}}</p>
        </div>
        <div class="stat-box b1">
            <p class="stat-number"><span class="ssTitle">Total Cases</span> {{country.cases | number}}</p>
        </div>
        <div class="stat-box b2">
            <p class="stat-number"><span class="ssTitle">Today Recovered</span> {{country.recovered | number}}</p>
        </div>
        <div class="stat-box b3">
            <p class="stat-number"><span class="ssTitle">Today Deaths</span> {{country.deaths | number}}</p>
        </div>
        <div class="stat-box b1">
            <p class="stat-number"><span class="material-icons b1">more_horiz</span></p>
        </div>
    </section>
</div>
</div>

